<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
    <title>Weather App</title>
</head>
<body>
    <!-- <======= MAin Header ===> -->
       {{>navbar}}
         <!-- <======= MAin Header End===> -->
<!-- <======= MAin Content===> -->
         {{>weatherContent}}
<!-- <======= MAin Content End===> -->
<!--========== <Footer=======></Footer> -->
{{>footer}}
<script src="js/main.js" ></script>

<!--========== <Footer=======></Footer> -->
</body>
</html>