<div class="container-fluid main-content">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                    <!-- Leftdiv -->
                        <div class="col-md-6 col-12 main-content-left">
                            <p>Welcome to weather app</p>
                            <h1>Get the Latest <span>MERN Stack Developer</span> youtuber and freelancer</h1>
                            <a href="/weather"><button>check now</button>  </a>
                        </div>
                    <!-- rightdiv -->
                        <div class="col-md-6 col-12 main-content-right">
                        <figure>
                            <img src="images/trans.jpg" alt="" srcset="">
                        </figure>
                        </div>
                 </div>
                </div>
                </div>
            </div>